<script>
    $("#btn-save").click(function () {
        console.log("Save Button Clicked");
        let sid = $("#stuid").val();
        let uid = $("#university_id-input").val();
        let nm = $("#name-input").val();
        let sm = $("#semester-input").val();
        let pn = $("#phone_number-input").val();
        let cs = $("input[name=csrfmiddlewaretoken]").val();
        if (uid == "") {
            console.log("Please enter university_id");
        }
        else if (nm == "") {
            console.log("Please enter name");
        }
        else if (sm == "") {
            console.log("Please enter semester");
        }
        else if (pn == "") {
            console.log("Please enter phone_number");
        }
        else {
            // console.log(uid);
            // console.log(nm);
            // console.log(sm);
            // console.log(pn);

            data = {
                stuid: sid,
                university_id: uid,
                name: nm,
                semester: sm,
                phone_number: pn,
                csrfmiddlewaretoken: cs
            };
            $.ajax({
                url: "{% url 'save' %}",
                method: "POST",
                data: data,
                success: function (data) {
                    console.log(data.status);
                    if (data.status == "Saved") {
                        console.log("form submitted successfully");
                        let latest_students = data.latest_students;
                        let output = "";
                        for (let i = 0; i < latest_students.length; i++) {
                            output += '<tr><td>' + latest_students[i].university_id + '</td><td>' + latest_students[i].name + '</td><td>' + latest_students[i].semester + '</td><td>' + latest_students[i].phone_number + '</td><td><button class="btn btn-warning btn-sm btn-edit" value="edit" data-sid=' + latest_students[i].id + '>Edit</button> <button class="btn btn-danger btn-sm btn-del" value="delete" data-sid=' + latest_students[i].id + '>Delete</button></td></tr>';
                        }
                        // console.log(output);

                        $("#tbody-ajax").html(output);
                        $("#stuid").val("");
                        $("form")[0].reset();
                    } else if (data.status == 0) {
                        console.log("form isn't submitted successfully");
                        $("#stuid").val("");
                        // $("form")[0].reset();

                    }
                }
            })
        }
    });


    $("#tbody-ajax").on("click", ".btn-del", function () {
        console.log("delete button clicked");
        let id = $(this).attr("data-sid");
        let cs = $("input[name=csrfmiddlewaretoken]").val();
        console.log(id);
        data = { sid: id, csrfmiddlewaretoken: cs };
        mythis = this;
        $.ajax({
            url: "{% url 'delete' %}",
            method: "POST",
            data: data,
            dataType: "json",
            success: function (data) {
                console.log(data);
                if (data.status == 1) {
                    console.log("data deleted successfully");
                    $(mythis).closest("tr").fadeOut();
                } else if (data.status == 0) {
                    console.log("Unable to delete data.");
                }
            }

        });
    });
    $("#tbody-ajax").on("click", ".btn-edit", function () {
        console.log("edit button clicked");
        let id = $(this).attr("data-sid");
        let cs = $("input[name=csrfmiddlewaretoken]").val();
        console.log(id);
        data = { sid: id, csrfmiddlewaretoken: cs };
        // mythis = this;
        $.ajax({
            url: "{% url 'edit' %}",
            method: "POST",
            data: data,
            dataType: "json",
            success: function (data) {
                console.log(data);
                $("#stuid").val(data.id);
                $("#university_id-input").val(data.university_id);
                $("#name-input").val(data.name);
                $("#semester-input").val(data.semester);
                $("#phone_number-input").val(data.phone_number);

            }

        });
    });


</script>